:root {
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

/* Header navigation menu */

header {
  width: 100%;
  background-color: rgb(var(--tmdbDarkBlue));
  height: 64px;
}

.navigation_menu {
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondary_logo {
  display: none;
}

.navigation_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
}

.logo {
  height: 20px;
  width: 154px;
  display: block;
}
.logo > img {
  width: 100%;
  height: auto;
}

nav {
  padding-left: 15px;
  height: 100%;
}

.navigation_list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation_list > li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
}

.navigation_list > li {
  position: relative;
}

.nav_additional_menu {
  display: none;
}

.secondary_list {
  position: absolute;
  width: 160px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  top: 30px;
  list-style: none;
  display: none;
  transition: 0.3s;
  padding: 10px 0;
  box-shadow: 1px 1px 1px 1px #c7c7c7;
}

.secondary_list > li {
  width: 100%;
  padding: 5px 10px;
  transition: 0.3s;
}

.secondary_list > li:hover {
  background-color: #fff8f8;
}

.secondary_list > li > a {
  font-weight: 300;

  color: #000;
}

.navigation_list > li:hover .secondary_list {
  display: block;
}

.login_section {
  height: 100%;
  display: flex;
  align-items: center;
}

.login_list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: center;
}

.login_list > li {
  padding: 15px;
}

.new {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.new i {
  color: #fff;
  font-size: 1.4em;
}

.lang_btn {
  background-color: transparent;
  padding: 6px 4px;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.login_list > li > a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.auth_btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  filter: invert(1);
  display: none;
  cursor: pointer;
  position: relative;
}

.auth_content_mobile {
  display: none;
  position: absolute;
  top: 35px;
  left: -100px;
  width: 180px;
  filter: invert(1);
  background-color: #fff;
  border-radius: 8px;
}

.visible {
  display: block;
}

.auth_content_mobile > .setting > a {
  font-size: 1em;
}

.auth_content_mobile > .setting > a {
  padding: 10px 20px;
}

.auth_content_mobile > .setting:first-child {
  position: relative;
}

.auth_content_mobile > .setting:first-child::after {
  content: "";
  position: absolute;
  left: 106px;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid #fff;
}

.search_btn {
  border: none;
  width: 29px;
  height: 29px;
  background-color: transparent;
  cursor: pointer;
}

/* ----------- */

/* Discover section */

.search_for_movie {
  min-height: 300px;
  max-height: 360px;
  height: calc(100vh / 2.5);
}

.discover {
  width: 100%;
  height: 100%;
  background: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg")
    center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.discover_title {
  margin-bottom: 20px;
  width: 100%;
}

.discover_title > h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.discover_title > h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.discover_search {
  width: 100%;
}

.discover_search_form {
  position: relative;
  margin-top: 30px;
}

.discover_search_form > input {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.discover_search_form > input:focus-visible {
  outline: none;
  border: none;
}

.discover_btn {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 46px;
  padding: 10px 26px;
  border: none;
  background: linear-gradient(
    to right,
    rgba(var(--tmdbLightGreen), 1) 0%,
    rgba(var(--tmdbLightBlue), 1) 100%
  );
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: -1px;
  color: #fff;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial, sans-serif;
  cursor: pointer;
}

/* ----------- */

/* Popular movies */

.popular_movies_wrapper {
  width: 100%;
  padding-top: 30px;
}

.trending_wrapper {
  background-image: url("https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg");
  background-position: 50% 165px;
  background-repeat: no-repeat;
}

.popular_movies_head {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.popular_movies_head > h3 {
  font-size: 1.5em;
  margin-right: 20px;
}

.popular_movies_buttons {
  display: flex;
  align-items: flex-end;
  border: 1px solid rgba(var(--tmdbDarkBlue), 1);
  border-radius: 30px;
}

.pop_movie_change {
  padding: 4px 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 600;
}

.pop_movie_change.active_movie {
  color: #1ed5a9;
  background-color: rgba(var(--tmdbDarkBlue), 1);
}

.popular_movies_body {
  padding-bottom: 20px;
  padding-top: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

/* ----------- */

/* Movie Cards */

.movie_card {
  width: 150px;
  min-width: 150px;
  min-height: 225px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.movie_img {
  position: relative;
  width: 100%;
  min-height: 225px;
  height: 225px;
  border-radius: 8px;
  background-position: center;
  background-size: contain;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.additional_details {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  opacity: 0.6;
  cursor: pointer;
  z-index: 222;
}

.additional_details:hover {
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(53%) sepia(33%) saturate(3054%)
    hue-rotate(156deg) brightness(98%) contrast(99%);
}

.raiting_details {
  position: absolute;
  bottom: -19px;
  left: 10px;
  width: 38px;
  height: 38px;
  padding: 2px;
  background-color: #081c22;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
}
.raiting_details sup {
  font-size: 0.5em;
}

.additional_details_content {
  width: 100%;
  padding: 26px 10px 12px 10px;
}

.additional_details_content > h2 {
  font-size: 1em;
}

.additional_details_content > p {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
}
/* -----------*/

/* Trailer section */

.trailer_wrapper {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h427_multi_faces/xDMIl84Qo5Tsu62c9DGWhmPI67A.jpg");
}

.trailer_content {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(var(--tmdbDarkBlue), 0.75) 0%,
    rgba(var(--tmdbDarkBlue), 0.75) 100%
  );
  padding-top: 30px;
}

.trailer_content h3 {
  font-weight: 600;
}

.trailer_type_buttons {
  display: flex;
  align-items: flex-end;
  border: 1px solid rgba(var(--tmdbLightGreen), 1);
  border-radius: 30px;
}

.trailer_movie_change {
  padding: 4px 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

.trailer_movie_change.active_movie {
  color: rgba(var(--tmdbDarkBlue), 1);
  background: linear-gradient(
    to right,
    rgba(var(--tmdbLighterGreen), 1) 0%,
    rgba(var(--tmdbLightGreen), 1) 100%
  );
}

.trailer_movies_body {
  padding-bottom: 20px;
  padding-top: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.traler_card {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  margin-right: 20px;
  height: auto;
  position: relative;
}

.trailer_card_img {
  position: relative;
  width: 300px;
  height: calc(300px / 1.78);
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  color: #fff;
  background-color: #fff;
  cursor: pointer;
}

.play_btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.play_btn > img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  filter: invert(1);
  transition: all 0.2s ease-in-out;
}

.trailer_card_img:hover {
  transform: scale(1.05);
}

.trailer_card_img:hover .play_btn > img {
  transform: scale(1.3);
}

.trailer_card_text {
  margin-top: 10px;
  text-align: center;
}

/* ------- */

/* settings */

.more_settings {
  display: none;
}

.setting {
  padding: 4px 0;
}

.setting > p {
  color: #000;
  font-weight: 600;
  padding: 6px 20px;
  font-size: 0.9em;
}

.setting > a {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.setting:last-child > a {
  justify-content: space-between;
}

.setting > a > i {
  margin-left: 5px;
  color: rgba(var(--tmdbDarkBlue), 1);
}

.setting > a:hover {
  background-color: rgba(var(--tmdbDarkBlue), 1);
  color: #fff;
}

.setting:first-child {
  border-bottom: 1px solid rgba(33, 37, 41, 0.15);
}

.cover_card {
  visibility: hidden;
  transition: 0.2s;
}

.movie_card.open_settings .cover_card {
  visibility: visible;
  z-index: 500;
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}

.movie_card.open_settings .more_settings {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 271px;
  top: 30px;
  left: -10px;
  border: 1px solid rgba(33, 37, 41, 0.15);
  border-radius: 8px;
  z-index: 999;
}

.traler_card.open_settings .more_settings {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 271px;
  top: 40px;
  left: 50px;
  border: 1px solid rgba(33, 37, 41, 0.15);
  border-radius: 8px;
  z-index: 999;
  color: #000;
}

/* ------- */

/* Join us */

.join_today_wrapper {
  width: 100%;
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces_filter(duotone,190235,ad47dd)/lMnoYqPIAVL0YaLP5YjRy7iwaYv.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.join_today_info_sec {
  width: 100%;
  padding: 30px 40px;
}

.join_today_title > h2 {
  font-weight: 700;
  font-size: 2em;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #fff;
}

.join_today_info {
  padding: 20px 0;
  width: 100%;
  display: flex;
}

.join_today_main {
  width: 60%;
  margin-right: 40px;
}

.join_today_main > p {
  color: #fff;
  font-size: 1.2em;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.join_today_main > p > span {
  opacity: 0.7;
  font-style: italic;
}

.join_today_btn {
  border: 2px solid #805be7;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  font-family: "Source Sans Pro", Arial, sans-serif;
  border-radius: 5px;
  padding: 8px 16px;
  transition: linear 0.1s;
  background-color: #805be7;
}

.join_today_secondary {
  width: auto;
}

.join_list {
  list-style-type: disc;
  color: #fff;
  margin-left: 20px;
}

.join_list > li {
  font-family: "Source Sans Pro", Arial, sans-serif;
  opacity: 0.8;
}

/* ------- */

/* Leaderboard */

.leaders_board_wrap {
  width: 100%;
  padding: 30px 40px;
}

.leaders_board_header {
  display: flex;
  align-items: center;
}

.leaders_board_header > h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-right: 20px;
}

.leaders_board_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.leaderboard_item {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.leaderboard_item:nth-child(even) {
  padding-left: 10px;
}

.leaderboard_item:nth-child(odd) {
  padding-right: 10px;
}

.leader_item_name {
  min-width: 56px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
}

.leaders_activities {
  width: 100%;
}

.leaders_activities > h3 {
  font-weight: 600;
}

.activity {
  width: 100%;
  height: 8px;
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.activity > span {
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: 600;
}

.activity_indicator {
  height: 100%;
  min-width: 40px;
  border-radius: 4px;
}

.activity_types > p {
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
}

.all_time {
  background: linear-gradient(
    to right,
    rgba(var(--tmdbLighterGreen), 1) 0%,
    rgba(var(--tmdbLightGreen), 1) 100%
  );
}

.week {
  background: linear-gradient(
    to right,
    rgba(var(--tmdbLogoOrange), 1) 0%,
    rgba(var(--tmdbLogoRed), 1) 100%
  );
}

/* ------- */

/* Footer section */

footer {
  background-image: radial-gradient(
    at 30% top,
    #031d33 0%,
    rgba(var(--tmdbDarkBlue), 1) 70%
  );
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_content {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_content > nav {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.footer_content > nav > div {
  margin-left: 40px;
}

.footer_nav {
  list-style: none;
}

.footer_nav > li > a {
  color: #fff;
  text-decoration: none;
  line-height: 1.6em;
}

.join_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -15px;
}

.community_button {
  border-color: #fff;
  background-color: #fff;
  color: rgba(var(--tmdbLightBlue), 1);
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 30px;
  white-space: nowrap;
  text-overflow: hidden;
}

.join_footer > img {
  width: 130px;
  height: 94px;
}

/* ------- */

/*scroller */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

/* ------- */
