.sort-panel-head {
  width: 100%;
  height: 50px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}
