.movie-body-wrapper {
  width: calc(100% - 260px);
}

.movie-body-wrapper > h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-weight: 400;
}

.movies-body {
  width: 100%;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.body-button-wrapper {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.no-padding {
  padding-left: 0;
}

.body-button-wrapper > button {
  background-color: rgba(var(--accountLightBlue), 1);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  color: #fff;
}

.body-button-wrapper > button:hover {
  color: #0a1526;
}

.body-button-wrapper > button > span {
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 980px) {
  .movie-body-wrapper {
    width: 100%;
  }
}
