nav {
  padding-left: 15px;
  height: 100%;
}

.navigation-list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation-list > li button {
  color: #fff;
  border: none;
  background-color: transparent;
  padding: 15px;
  font-weight: 600;
}

.navigation-list > li {
  position: relative;
}

.nav-additional-menu {
  display: none;
}

@media (max-width: 980px) {
  .navigation-list {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-list > li {
    padding-bottom: 10px;
    height: 30px;
    overflow: hidden;
  }

  .navigation-list > li:last-child {
    height: auto;
  }

  .navigation-list > li:nth-child(4) {
    display: none;
  }
  .nav-additional-menu {
    display: block;
  }

  .nav-additional-menu > .secondary-list > li:last-child {
    margin-top: 10px;
  }

  .opened-menu {
    height: auto !important;
  }

  .navigation-list > li > button {
    font-weight: 600;
    font-size: 1.3em;
    padding: 10px;
  }
}
