.secondary-list {
  position: absolute;
  width: 160px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  top: 40px;
  list-style: none;
  display: none;
  transition: 0.3s;
  padding: 10px 0;
  box-shadow: 1px 1px 1px 1px #c7c7c7;
  z-index: 999;
}

.secondary-list > li {
  width: 100%;
  padding: 5px 10px;
  transition: 0.3s;
}

.secondary-list > li:hover {
  background-color: #fff8f8;
}

.secondary-list > li > a {
  font-weight: 300;
  text-decoration: none;
  color: #000;
}

.navigation-list > li:hover .secondary-list {
  display: block;
}

@media (max-width: 980px) {
  .nav-additional-menu {
    display: block;
  }

  .nav-additional-menu > .secondary-list > li:last-child {
    margin-top: 10px;
  }
  .secondary-list {
    position: static;
    width: auto;
    display: block;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .secondary-list > li > a {
    padding: 5px 0;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
  }

  .secondary-logo {
    display: block;
    width: 55px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .secondary-logo > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .secondary-logo > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
