.vote-board {
  width: 100%;
  height: 30px;
  position: relative;
}

.vote-slider {
  margin-top: 5px;
  width: 100%;
}

.vote-count {
  position: absolute;
  bottom: -7px;
  color: #c8c8c8;
}

.vote-count-line {
  position: absolute;
  bottom: 25px;
  width: 1px;
  height: 10px;
  background-color: #929292;
}
