.filter-section {
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 980px) {
  .filter-section {
    width: 100%;
  }
}
