.genre-item {
  border: 1px solid #9e9e9e;
  border-radius: 14px;
  padding: 4px 12px;
  font-size: 0.9em;
  margin-right: 6px;
  margin-top: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.genre-item:hover {
  background-color: rgba(var(--tmdbLightBlue), 1);
  color: #fff;
  border-color: rgba(var(--tmdbLightBlue), 1);
}

.genre-item.selected-btn {
  background-color: rgba(var(--tmdbLightBlue), 1);
  color: #fff;
  border-color: rgba(var(--tmdbLightBlue), 1);
}
