.login_list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: center;
}

.login_list > li {
  padding: 15px;
}

.new {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.new i {
  color: #fff;
  font-size: 1.4em;
}

.lang_btn {
  background-color: transparent;
  padding: 6px 4px;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.login_list > li > a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 980px) {
  .login_section > nav {
    display: none;
  }
}
